---
layout: main
---

<div class="row">
  <div class="span9">
		<div class="title-out title-name"><h3>Портфолио</h3></div>

			<!-- start: Row -->
			<div class="row">

				{% for item in site.portfolio %}
					<div class="span3">
						<div class="picture">
							<a href="{{item.image}}" rel="image" title="{{item.title}}">
								<img src="{{item.image}}" />
								<div class="image-overlay-zoom"></div>
							</a>
							<div class="item-description">
								<h4><a href="{{item.url}}">{{item.title}}</a></h4>
								<p>{{item.content}}</p>
							</div>
						</div>
					</div>
					<hr class="visible-phone" />
				{% endfor %}

			</div>
				<!-- end: Row -->
		<hr />
  </div>
  <hr class="visible-phone" />
  <div class="span3">
  	{% include testimonials.html %}
  </div>
</div>





<div class="content clearfix">

	<div class="span11">

		<!-- start: Row -->
		<div class="row">

			<div class="span7">
				<div class="title title-name"><h3>О нас</h3></div>
				<p>
					ТОО "M.A.G.NET" &mdash; не просто евент агенство. Мы Компания, занимающаяся от Бизнес-конференции до Корпоративных вечеров и тимбилдингов;
					От предложении руки и сердца до свадебного туризма;
					От рождения ребёнка и до его годика.
					Концерты, звезды любой страны и любого масштаба.
					Декор Новогодний, Для детских праздников, декор для романтического ужина, Свадеб и многое другое.
					Мы не ограничиваем Вас в Ваших желаниях...
					Наслаждайтесь своим торжеством вместе с гостями...
					С Любовью TOO "M.A.G.NET"
					Дата основания 3 октября 2013 год.
				</p>
			</div>

			<div class="span4">
				<div class="flex-video widescreen">
					<iframe src="./MAGNUS BOOTSTRAP THEME by creativeLabs_files/6686768.html" width="1500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
			</div>

		</div>
		<!-- end: Row -->

	</div>

	<div class="clearfix"></div>
	<hr class="clean" />

	<div class="span11">

		<!-- start: Row -->
		<div class="row">

			<div class="span9">

				<div class="title title-name"><h3>Отзывы наших клиентов</h3></div>

				<!-- start: Row -->
				<div class="row">

					<div class="span-comment">
						<div class="picture-comment">
							<img class="img-circle" src="./MAGNUS BOOTSTRAP THEME by creativeLabs_files/review-img.jpg" />
						</div>
						<div class="item-description">
							<span class="title-name"><h3>Евгения Зазина</h3></span>
							<p>Декор превзошел мои ожидания!</p>
						</div>
					</div>

					<div class="span-comment">
						<div class="picture-comment">
							<img class="img-circle" src="./MAGNUS BOOTSTRAP THEME by creativeLabs_files/review-img.jpg" />
						</div>
						<div class="item-description">
							<span class="title-name"><h3>Евгения Зазина</h3></span>
							<p>Декор превзошел мои ожидания!</p>
						</div>
					</div>

					<div class="span-comment">
						<div class="picture-comment">
							<img class="img-circle" src="./MAGNUS BOOTSTRAP THEME by creativeLabs_files/review-img.jpg" />
						</div>
						<div class="item-description">
							<span class="title-name"><h3>Евгения Зазина</h3></span>
							<p>Декор превзошел мои ожидания!</p>
						</div>
					</div>

					<div class="span-comment">
						<div class="picture-comment">
							<img class="img-circle" src="./MAGNUS BOOTSTRAP THEME by creativeLabs_files/review-img.jpg" />
						</div>
						<div class="item-description">
							<span class="title-name"><h3>Евгения Зазина</h3></span>
							<p>Декор превзошел мои ожидания!</p>
						</div>
					</div>

				</div>
				<!-- end: Row -->

			</div>


			<div class="span2">

				<div class="title title-name"><h3>Почему мы? </h3></div>
				<ul class="check_list">
					<li>Обратившись в свадебное агентство MAGNET Вы сэкономите свое время и силы, избегая рутины и стресса.</li>
					<li>Обратившись в свадебное агентство MAGNET Вы сэкономите свое время и силы, избегая рутины и стресса.</li>
			</ul></div>

		</div>

	</div>
	<!-- end: Row -->
	<div class="clearfix"></div>
	<hr class="clean" />
	<div class="contact">Если вы любите наши работы и Вы хотите индивидуальное предложение, свяжитесь с нами.<i class="ico-envelope ico-white"></i><a href="mailto:a@magnet.kz">a@magnet.kz</a><i class="ico-iphone ico-white"></i><a href="callto:+7 701 930 40 30">+7 701 930 40 30</a></div>

</div>

<hr />

<div class="title-out title-name"><h3>Наши партнеры</h3></div>

<!-- start Clients List -->
<div class="clients-carousel">
	<div class="flex-viewport" style="overflow: hidden; position: relative;">
		<ul class="slides clients" style="width: 4000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-585px, 0, 0);">
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/1.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/2.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/3.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/4.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/5.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/6.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/7.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/8.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/9.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/10.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/1.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/2.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/3.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/4.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/5.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/6.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/7.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/8.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/9.png" alt=""></li>
			<li style="width: 144.25px; float: left; display: block;"><img src="partners_logos/10.png" alt=""></li>
		</ul>
	</div>
</div>
<hr />
<!-- end Clients List -->









